<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="SpringTest5" version="3.0">

    <filter>
        <filter-name>ErrorHandlerFilter</filter-name>
        <filter-class>ru.belyaev.shop.filter.ErrorHandlerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ErrorHandlerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SetCurrentRequestUrlFilter</filter-name>
        <filter-class>ru.belyaev.shop.filter.SetCurrentRequestUrlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SetCurrentRequestUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter>-->
        <!--<filter-name>TrimResponseFilter</filter-name>-->
        <!--<filter-class>ru.belyaev.shop.filter.TrimResponseFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>TrimResponseFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <filter>
        <filter-name>AutoRestoreShoppingCartFilter</filter-name>
        <filter-class>ru.belyaev.shop.filter.AutoRestoreShoppingCartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutoRestoreShoppingCartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CheckAuthentificationFilter</filter-name>
        <filter-class>ru.belyaev.shop.filter.CheckAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckAuthentificationFilter</filter-name>
        <url-pattern>/order</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CheckAuthentificationFilter</filter-name>
        <url-pattern>/my-orders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAuthentificationFilter</filter-name>
        <url-pattern>/ajax/html/more/my-orders</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>ru.belyaev.shop.listener.IShopApplicationListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/dispatcher-servlet.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>